html body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #020A18;
}

img{
    max-width: 100%;
    width: auto;
    height: auto;
}

a{
	transition: all 0.3s ease;
}

.header{
    padding-top: 24px;
}

.logo{
	max-width: 283px;
	display: block;
    margin-top: -3px;
}

.menu ul.sub-menu{
	list-style: none;
	display: flex;
	padding-top: 15px;
}

.menu ul.sub-menu li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.3s ease;
    padding-right: 40px;
}

.menu ul.sub-menu li a:hover{
    color:#00C3CC;
}

.menu ul.sub-menu li:last-child a{
	padding-right: 0;
}

.header .btn-sign{
    width: 112px;
    height: 52px;
    background: #3A68B8;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    transition: all 0.3s ease;
    border: none;
    outline: none; 
}

.header .btn-sign:hover{
    color: #fff;
	background: #00C3CC;
}

.baner{
    padding-top: 130px;
    padding-bottom: 40px;
}

.box_banner_first{
    max-width: 604px;
}

.text_top_baner{
    font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	margin-bottom: 10px;
	text-transform: uppercase;
	color: #3A68B8;
}

.box_banner_first h1{
    font-weight: 800;
	font-size: 55px;
	line-height: 130%;
	color: #FFFFFF;
	margin-bottom: 40px;
	margin-top: 0;
}

.box_banner_first p{
    font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #FFFFFF;
    margin-bottom: 35px;
    max-width: 558px;
    opacity: 0.7;
}

.baner .btn_baner{
    font-size: 20px;
    font-size: 20px;
    line-height: 54px;
    background: #3A68B8;
	border-radius: 5px;
    transition: all 0.3s ease;
    border: none;
    outline: none;
    padding: 0 30px;
    height: 57px;
    display: inline-block;
    color: #FFFFFF;
}

.baner .btn_baner:hover{
    color: #fff;
	background: #00C3CC;
    text-decoration: none;
}

.baner .last_btn_baner{
    margin-top: -3px;
    max-width: 558px;
}

.baner .last_btn_baner:hover svg path{
	fill: rgb(0, 37, 247);
}

.baner .last_btn_baner{
	margin-left: 20px;
}

#carousel_partner {
    padding-top: 247px;
}
.owl-carousel#carousel_partner .owl-item img {
    width: auto;
}



.about{
	background: #010a18;
	padding-top: 130px;
	padding-bottom: 170px;
}
.about_box{
	padding-top: 178px;
}
.about_box h2{
	font-weight: 700;
	font-size: 40px;
	line-height: 130%;
	color: #FFFFFF;
	margin-bottom: 30px;
	margin-top: 0;
}
.about_box p{
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	color: #FFFFFF;
	opacity: 0.7;
	margin-bottom: 50px;
}
.about_btn{
	background: #3A68B8;
    border-radius: 5px;
    height: 57px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 54px;
    color: #FFFFFF;
    padding: 0 30px;
    outline: none;
    transition: all 0.3s ease;
    border: none;
}

.about_btn:hover{
    color: #fff;
	background: #00C3CC;
    text-decoration: none;
}

.about .row {
    justify-content: space-evenly;

}

.clients_top_text h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 0;
}

.clients_text p{
    font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	color: #FFFFFF;
    margin-bottom: 35px;
    max-width: 558px;
    opacity: 0.7;
}

.footer{
    margin-top: 80px
}

.fist-foot-menu{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.logo-foot{
    padding-bottom: 30px;
}

.text-foot{
    padding-bottom: 37px;
    font-weight: 450;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 0.6;
}

.contacts{
    padding-bottom: 20px;
    padding-left: 9px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.second-foot-menu{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.third-foot-menu{
    display: flex;
    flex-direction: column;
    align-items: baseline;    
}

.four-foot-menu{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.name-foot-menu{
    font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        padding-bottom: 32px;
}

.five-foot-menu{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.foot-menu{
font-weight: 450;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    padding-bottom: 20px;
}

.menu-low{
    margin-top: 19px;
}

.text-foot2{
    padding-bottom: 29px;
    font-weight: 450;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        opacity: 0.6;
}

.website{
    font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        padding-bottom: 21px;
}

.icons-footer{
    padding-bottom: 52px;
   
}

.language{
  padding-right: 10px;
  padding-left: 10px;  
}

.soshial{
    padding-right: 25px;
    width: 15px;
        height: 15px;
}

